.requestPasswordReset {
	&__icon {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;

		svg {
			width: 64px;
			height: 64px;
		}
	}

	&__subtitle {
		margin-bottom: 24px;
	}

	&__instructions {
		text-align: left;
		margin-bottom: 16px;

		ul {
			padding-left: 20px;
			margin: 8px 0;
		}
	}
}
