.consultantSearchLoader {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	flex-shrink: 0;

	&__circle {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: #000000;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		overflow: hidden;
	}
}