.box {
	background: transparent;
	border: none;
	padding: 0;
	margin-bottom: 0;
	border-radius: 0;

	@include breakpoint($fromMedium) {
		padding: 0;
		margin-bottom: 0;
	}

	&--info {
		border-color: $form-medium;
		color: $form-medium;
	}

	&--error {
		background-color: $form-error;
		color: $form-error;
	}

	&--success {
		background-color: $form-success;
		color: $form-success;
	}

	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		color: rgba(0, 0, 0, 0.87);
		margin-bottom: 16px;
	}
}
