.reassignRequestMessage {
	min-width: 0;
	padding: $grid-base-two;
	overflow-wrap: anywhere;

	.systemMessage__subjectWrapper > div {
		min-width: 0;
	}

	strong,
	.description {
		display: block;
	}

	.description {
		margin-top: $grid-base;
	}
}
